<!--
  Created on 6/22/20 by Sean Michaels
  Footer for each page.
  Edited on 6/24/2020 by Reema Gupta: added span so that footer size could bed made different
  Edited on 6/24/2020 by Reema Gupta: changed li to p so as to remove bullets
-->

<footer>
    <div class="footer-size"><span>
    <p>491 Dreese Laboratories, 2015 Neil Avenue</p>
    <p>Ohio State University</p>
    <p>Columbus, OH 43210</p>
    <p>Made by: Quaranteam - SU20</p>
    </span>
  </div>
</footer>
