<!--
  Created on 6/22/20 by Sean Michaels
  Footer for each page.
  Edited on 6/24/20 by Reema Gupta: added span so that footer size could bed made different
  Edited on 6/24/20 by Reema Gupta: changed li to p so as to remove bullets
  Edited on 6/25/20 by Reema Gupta: removed span since it could not contain inline element p
-->

<footer>
  <div class="font_scheme">
    <div class="footer-size">
    <p>491 Dreese Laboratories, 2015 Neil Avenue</p>
    <p>Ohio State University</p>
    <p>Columbus, OH 43210</p>
    <p>Made by: Quaranteam - SU20</p>
    </div>
  </div>
</footer>
