<!--
 Created on 6/21/20 by Caroline Wheeler
 HTML for the navigation bar used site wide.
 -->

<div class="navbar">
    <a href="index.html">HOME</a>
    <a href="#pubs">PUBLICATIONS</a>
    <a href="#edu">EDUCATION</a>
    <a href="#teaching">TEACHING</a>
    <a href="noteworthy.html">NOTEWORTHY</a>
    <div class="dropdown">
        <button class="dropbtn">MEDIA
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="tv_video.html#">TV</a>
            <a href="radio.html">RADIO</a>
            <a href="print.html">PRINT</a>
        </div>
    </div>
    <a href="people.html">PEOPLE</a>
</div>

<hr>
