---
title: "JWD - Education"
---
<!--
  Created on 6/24/2020 by Reema Gupta
  html for education page
-->
  <div class="title">
    <h1>Education</h1>
  </div>
<div class="font_scheme">
   <ul>
     <li>
       <div class="education">
             <span class="degree">Ph.D.</span>
             <span class="year">2000</span>
             <div class="University">Massachusetts Institute of Technology</div>
       </div>
     </li>
     <li>
       <div class="education">
             <span class="degree">M.S.</span>
             <span class="year">1996</span>
             <div class="University">Massachusetts Institute of Technology</div>
       </div>
     </li>
     <li>
       <div class="education">
            <span class="degree">B.S.</span>
            <span class="year">1994</span>
            <div class="University">University of Central Florida</div>
       </div>
     </li>
     <li>
       <div class="education">
             <span class="degree">A.A</span>
             <span class="year">1992</span>
             <div class="University">Eastern Florida State College (BCC)</div>
       </div>
     </li>
   </ul>
</div>
