---
title: "JWD - Home"
---
<!--
  Created on 6/22/20 by Caroline Wheeler
  Edited 6/22/2020 by Duytan Tran: Moved redundancy to layout
  Edited 6/23/20 by Caroline Wheeler: Added divs instead of tables
  HTML for the home page.
  Edited 6/25/20 by Reema Gupta: Added Appointments section
-->

<section>
  <IMG SRC="http://web.cse.ohio-state.edu/~davis.1719/Media/Davis-3-small.jpg" class="pic"></IMG>

  <article class="info">
    <b style="font-size:50px">JIM DAVIS</b>
    <b style="font-size: 18px">Ph.D MIT, 2000</b>

    <ul style="list-style-type:none; font-size:14px">
      <li><a style="color:#990000" href="https://cse.osu.edu/">Dept. of Computer Science and Engineering</a></li>
      <li>491 Dreese Laboratories, 2015 Neil Avenue</li>
      <li>Ohio State University</li>
      <li>Columbus, OH 43210</li>
      <li><a style="color:#990000" href="directions.html">[Direction to office]</a></li>
    </ul>

    <br>

    <ul>
      <li><span style='font-size:35px;'>&#9743;</span> OFFICE: 614-292-1553</li>
      <li><span style='font-size:35px;'>&#9743;</span> LAB: 614-292-5137</li>
      <li><span style='font-size:40px;'>&#9993;</span> FAX: 614-292-2911</li>
      <li><span style='font-size:40px;'>&#9993;</span> EMAIL: jwdavis@cse.ohio-state.edu</li>
    </ul>
  </article>
</section>
<hr>
<div class="title">
  <h2>Introduction</h2>
</div>
<div class="introduction">
  <div class="font_scheme">
    <p>
      Jim Davis is a Full Professor in the Dept. of Computer Science and Engineering. He received his Ph.D. from the Massachusetts Institute of Technology.
    </p>
    <p><span style="color:#990000">Research: </span>His main research areas include Computer Vision, Artificial Intelligence, and Machine Learning with a focus on image/video analysis and automated surveillance. He has received over $3M in research funding (to date) from the National Science Foundation (including a prestigious CAREER award), U.S. Air Force, Los Alamos National Lab, U.S. Army Night Vision Laboratory, Intel, and Ohio Board of Regents.</p>
    <p><span style="color:#990000">Teaching: </span>Prof. Davis offers classes in Computer Vision (CSE 5524) and Artificial Intelligence (CSE 5052) at Ohio State University. The Artificial Intelligence course was specifically designed to fill a need and outreach to the large body of non-CSE students interested in the topic. </p>
    <p><span style="color:#990000">Service: </span>In addition to his Full Professor duties and service in the professional societies, he also serves in the CSE Dept. as the Coordinator for Undergraduate Research, the Chair of the Computer and Space Committee, and a Member of the Executive Committee.</p>
  </div>
</div>

<hr>
<div class="title">
  <h2>Appointments</h2>
</div>
<div class="appointments">
  <div class="font_scheme">
    <ul>
     <li>Present: Full Professor, Dept. of Computer Science and Engineering, OSU. </li>
     <li>Present: Coordinator, Undergraduate Research (CSE), OSU<a href= "https://cse.osu.edu/current-students/undergraduate-research">[website].</a> </li>
     <li>Present: Chair, Computer and Space Committee (CSE), OSU.</li><li>Present: Member, Executive Committee (CSE), OSU.</li>
      <li>2005 - 2013: Associate Professor, Dept. of Computer Science and Engineering, OSU.</li>
      <li>2000 - 2005: Assistant Professor, Dept. of Computer Science and Engineering, OSU.</li>
    </ul>
  </div>
</div>
<hr>
