---
title: Welcome to Jim Davis's Webpage
---
<!--
  Created on 6/22/20 by Caroline Wheeler
  Edited 6/22/2020 by Duytan Tran: Moved redundancy to layout
  HTML for the home page.
-->
<table width="100%">
  <table  width="100%" cellpadding="20px">
    <td style="max-width: 350px;">
      <IMG SRC="http://web.cse.ohio-state.edu/~davis.1719/Media/Davis-3-small.jpg" class="pic"></IMG>
    </td>
    <td>
      <div class="table-wrap">
        <table class="table" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <b style="font-size:50px">JIM DAVIS </b>
              <b style="font-size: 18px">Ph.D MIT, 2000</b>
              <br>
              <a style="font-size: 18px"href="https://cse.osu.edu/">Dept. of Computer Science and Engineering	</a>
              <br>
              491 Dreese Laboratories, 2015 Neil Avenue
              <br>
              Ohio State University
              <br>
              Columbus, OH 43210
              <br>
              <table cellpadding="0" cellspacing ="0">
                <td>
                  <span style='font-size:35px;'>&#9743;</span>
                </td>
                <td>
                  <p>OFFICE: 614-292-1553</p>
                </td>
              </table>

              <table  cellpadding="0" cellspacing ="0">
                <td>
                  <span style='font-size:35px;'>&#9743; </span>
                </td>
                <td>
                  <p>LAB: 614-292-5137</p>
                </td>
              </table>

              <table>
                <td>
                  <span style='font-size:35px;'>&#x1f5b6;</span>
                </td>
                <td>
                  <p>FAX: 614-292-2911 </p>
                </td>
              </table>

              <table>
                <td>
                  <span style='font-size:35px;'>&#9993;</span>
                </td>
                <td>
                  <p>jwdavis@cse.ohio-state.edu</p>
                </td>
              </table>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </table>
</table>
<hr>
