---
title: "JWD - Noteworthy"
---
<!--
  Created on 6/22/20 by Duytan Tran
  Noteworthy page.
-->
<div class="noteworthy_data">
  <h1>Achievements</h1>
  <ul>
    <li><span>Consultant</span> to Mimecast (2020).</li>
    <li>Recipient of 2019 Lutron Electronic’s <span>Ruth and Joel Spira Teaching Award</span>.</li>
    <li>Recipient of 2015 OSU College of Engineering <span>Innovators Award</span>.</li>
    <li>Launched Polarity Maximizer <span>commercial software</span> and Audiomere (<a href="www.audiomere.com">www.audiomere.com</a>).</li>
    <li>Promoted to <span>Full Professor</span>, September 2013.</li>
    <li>Recipient of 2012 OSU College of Engineering <span>Lumley Research Award</span>.</li>
    <li><span>Chair, Computer Committee</span>, 2012 - current.</li>
    <li><span>Workshop co-Chair</span>, IEEE Conference on Computer Vision and Pattern Recognition (2014).</li>
    <li><span>Best Paper Award</span>: "Attention-based Target Localization using Multiple Instance Learning", International Symposium on Visual Computing, November 2010.</li>
    <li><span>IEEE Computer Vision and Pattern Recognition Reviewer Award</span> 2010.</li>
    <li><span>CSE Teaching Award</span> 2009-2010.</li>
    <li><span>Co-Program Chair</span>, IEEE International Conference on Advanced Video and Signal based Surveillance (Sept. 2010).</li>
    <li><span>Co-General Chair</span>, IEEE Workshop on Motion and Video Computing (Dec. 2009).</li>
    <li>Co-Chair, for IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum (OTCBVS), June 22, 2006.</li>
    <li>Promoted to <span>Associate Professor with Tenure</span>, October 2005.</li>
    <li><span>Guest Editor</span> (w/ Riad Hammoud) for CVIU Special Issue on Advances in Vision Algorithms and Systems Beyond the Visible Spectrum.</li>
    <li>Appointed as <span>Associate Editor</span> for Machine Vision and Applications journal (May 2005).</li>
    <li>Recipient of 2005 OSU College of Engineering <span>Lumley Research Award</span>.</li>
    <li>Benchmark and Website <span>Chair</span> for IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum (OTCBVS), June 2005.</li>
    <li>Recipient of 2003 <span>NSF Career Award</span> (March 2003).</li>
    <li><span>Lockheed-Martin Best Paper Award</span>: "A Three-Mode Expressive Feature Model of Action Effort", IEEE Workshop on Motion and Video Computing, Dec. 5-6, 2002, pp. 139-144.</li>
  </ul>
</div>
<hr>