---
title: "JWD - Noteworthy"
---
<!--
  Created on 6/22/20 by Duytan Tran
  Noteworthy page.
-->
<div class="noteworthy_data">
  <h1>Achievements</h1>
  <ul>
    <li>Recipient of 2019 Lutron Electronic’s Ruth and Joel Spira Teaching Award.</li>
    <li>Recipient of 2015 OSU College of Engineering Innovators Award.</li>
    <li>Launched Polarity Maximizer commercial software and Audiomere.</li>
    <li>Promoted to Full Professor, September 2013.</li>
    <li>Recipient of 2012 OSU College of Engineering Lumley Research Award.</li>
    <li>Chair, Computer Committee, 2012 - current.</li>
    <li>Workshop co-Chair, IEEE Conference on Computer Vision and Pattern Recognition (2014).</li>
    <li>Best Paper Award: "Attention-based Target Localization using Multiple Instance Learning", International Symposium on Visual Computing, November 2010.</li>
    <li>IEEE Computer Vision and Pattern Recognition Reviewer Award 2010.</li>
    <li>CSE Teaching Award 2009-2010.</li>
    <li>Co-Program Chair, IEEE International Conference on Advanced Video and Signal based Surveillance (Sept. 2010).</li>
    <li>Co-General Chair, IEEE Workshop on Motion and Video Computing (Dec. 2009).</li>
    <li>Co-Chair, for IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum (OTCBVS), June 22, 2006.</li>
    <li>Promoted to Associate Professor with Tenure, October 2005.</li>
    <li>Guest Editor (w/ Riad Hammoud) for CVIU Special Issue on Advances in Vision Algorithms and Systems Beyond the Visible Spectrum.</li>
    <li>Appointed as Associate Editor for Machine Vision and Applications journal (May 2005).</li>
    <li>Recipient of 2005 OSU College of Engineering Lumley Research Award.</li>
    <li>Benchmark and Website Chair for IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum (OTCBVS), June 2005.</li>
    <li>Recipient of 2003 NSF Career Award (March 2003).</li>
    <li>Lockheed-Martin Best Paper Award: "A Three-Mode Expressive Feature Model of Action Effort", IEEE Workshop on Motion and Video Computing, Dec. 5-6, 2002, pp. 139-144.</li>
  </ul>
</div>