---
title: "JWD - Noteworthy"
---
<!--
  Created on 6/22/2020 by Duytan Tran
  Edited 6/22/2020 by Duytan Tran: Added em to relevant nouns
  Edited on 6/24/2020 by Reema Gupta: included css for heading
  Edited on 6/25/2020 by Reema Gupta: added font_scheme class for font
  Noteworthy page
  NOTE:
  Because of how involved each line is in the list of achievements
  automating such a process is not feasibly possible for there isn't an
  consistent pattern for ALL lines.
-->
<div class="noteworthy_data">
  <div class="title">
  <h1>Achievements</h1>
</div>
  <div class="font_scheme">
  <ul>
    <li><span>Consultant</span> to Mimecast (2020).</li>
    <li>Recipient of 2019 Lutron Electronic’s <span>Ruth and Joel Spira Teaching Award</span>.</li>
    <li>Recipient of 2015 OSU College of Engineering <span>Innovators Award</span>.</li>
    <li>Launched Polarity Maximizer <span>commercial software</span> and Audiomere (<a href="www.audiomere.com">www.audiomere.com</a>).</li>
    <li>Promoted to <span>Full Professor</span>, September 2013.</li>
    <li>Recipient of 2012 OSU College of Engineering <span>Lumley Research Award</span>.</li>
    <li><span>Chair, Computer Committee</span>, 2012 - current.</li>
    <li><span>Workshop co-Chair</span>, <em>IEEE Conference on Computer Vision and Pattern Recognition</em> (2014).</li>
    <li><span>Best Paper Award</span>: "Attention-based Target Localization using Multiple Instance Learning", <em>International Symposium on Visual Computing</em>, November 2010.</li>
    <li><span><em>IEEE Computer Vision and Pattern Recognition Reviewer Award</em></span> 2010.</li>
    <li><span>CSE Teaching Award</span> 2009-2010.</li>
    <li><span>Co-Program Chair</span>, <em>IEEE International Conference on Advanced Video and Signal based Surveillance</em> (Sept. 2010).</li>
    <li><span>Co-General Chair</span>, <em>IEEE Workshop on Motion and Video Computing</em> (Dec. 2009).</li>
    <li>Co-Chair, for <em>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum</em> (OTCBVS), June 22, 2006.</li>
    <li>Promoted to <span>Associate Professor with Tenure</span>, October 2005.</li>
    <li><span>Guest Editor</span> (w/ Riad Hammoud) for CVIU Special Issue on <em>Advances in Vision Algorithms and Systems Beyond the Visible Spectrum</em>.</li>
    <li>Appointed as <span>Associate Editor</span> for <em>Machine Vision and Applications journal</em> (May 2005).</li>
    <li>Recipient of 2005 OSU College of Engineering <span>Lumley Research Award</span>.</li>
    <li>Benchmark and Website <span>Chair</span> for <em>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum</em> (OTCBVS), June 2005.</li>
    <li>Recipient of 2003 <span>NSF Career Award</span> (March 2003).</li>
    <li><span>Lockheed-Martin Best Paper Award</span>: "A Three-Mode Expressive Feature Model of Action Effort", <em>IEEE Workshop on Motion and Video Computing</em>, Dec. 5-6, 2002, pp. 139-144.</li>
  </ul>
</div>
</div>
<hr>