---
title: "JWD - People"
---
<!--
  Created on 6/22/2020 by Duytan Tran
  Edited 6/23/2020 by Duytan Tran: removed alumni list and replaced w/ p
  Edited on 6/24/2020 by Reema Gupta: included css for heading
  Edited on 6/24/2020 by Duytan Tran: Added a student degree data table
  People page.
-->
<div class="current_students">
  <div class="title">
  <h1>Current Students</h1>
  </div>
  <div id="adjacent_container">
    <div class="current_list">
      <ul>
        <li><span>Tong Liang</span>, Ph.D. student</li>
        <li><span>Logan Frank</span>, M.S./Ph.D. student</li>
        <li><span>Ash Radhakrishnan</span>, M.S./Ph.D. student</li>
        <li><span>Jamie Cunningham</span>, B.S./M.S. student</li>
        <li><span>James Enouen</span>, B.S. student</li>
        <li><span>Isaac Zachmann</span>, B.S. student (ECE)</li>
      </ul>
    </div>
    <div class="deg_table">
      <table>
        <caption>Student Degree</caption>
        <tr>
          <th>Degree(s)</th>
          <th>Count(s)</th>
        </tr>
        <tr>
          <td>B.S.</td>
          <td>12</td>
        </tr>
        <tr>
          <td>M.S.</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Ph.D.</td>
          <td>9</td>
        </tr>
        <tr>
          <td>B.S./M.S.</td>
          <td>3</td>
        </tr>
        <tr>
          <td>M.S./Ph.D.</td>
          <td>2</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="alumni">
  <div class="title">
  <h2>Alumni</h2>
  </div>
  <p class="name"><span>Joe Barker</span>, Ph.D. student</p>
  <p class="name"><span>Sam Lerner</span>, B.S./M.S. student</p>
  <p class="name"><span>Chris Menart</span>, M.S. student</p>
  <p>M.S. Thesis: "Global-Context Refinement for Semantic Image Segmentation", 2018. (Now at AFRL)</p>
  <p class="name"><span>Debanjan Nandi</span>, M.S. student</p>
  <p class="name"><span>Mo Akbar</span>, B.S./M.S. student</p>
  <p class="name"><span>Josh Sandvick</span>, B.S/M.S. student</p>
  <p>M.S. Thesis: "Machine Translation Through the Creation of a Common Embedding Space", 2018.</p>
  <p class="name"><span>Brett Whitford</span>, B.S. student</p>
  <p>B.S. Honor's Thesis: "Weakly Supervised Learning for Semantic Segmentation", 2018.</p>
  <p class="name"><span>Chuhan Feng</span>, B.S. student</p>
  <p class="name"><span>Rohith Savaram</span></p>
  <p>M.S. Project, May 2016. (now at Expedia)</p>
  <p class="name"><span>Dan Marchese</span></p>
  <p>Undergraduate Honors Thesis: "A Framework for Using Custom Features to Colorize Grayscale Images", May 2016. (Now at Amazon)</p>
  <p class="name"><span>Manjari Akella</span></p>
  <p>M.S. Project, May 2015. (Now at IBM)</p>
  <p class="name"><span>Jeremy Ledonne</span></p>
  <p>Undergraduate research assistant. Graduated 2015.</p>
  <p class="name"><span>Daniya Zamalieva</span></p>
  <p>Ph.D. Thesis: "Transformational Models for Background Subtraction with Moving Cameras", September 2014. (Now at Google)</p>
  <p class="name"><span>Ryan Niemocienski</span></p>
  <p>Undergraduate research assistant, 2013-2014.</p>
  <p class="name"><span>Kyle Salberg</span></p>
  <p>Undergraduate research assistant. Graduated June 2012.</p>
  <p class="name"><span>Michael Schoenberg</span></p>
  <p>Undergraduate research assistant. Graduated June 2012. (Now at Microsoft)</p>
  <p class="name"><span>Ronak Buch</span></p>
  <p>Undergraduate research assistant. Graduated June 2012. (Now at UIUC)</p>
  <p class="name"><span>Kevin Streib</span></p>
  <p>Ph.D. Thesis: "Improved Graph-based Clustering with Applications in Computer Vision and Behavior Analysis", March 2012. (and Post-Doc with Davis)</p>
  <p class="name"><span>Karthik Sankaranarayanan</span></p>
  <p>Ph.D. Thesis: "Multiple Instance Learning for Localization and Tracking of Persistent Targets", August 2011. (Now at IBM India)</p>
  <p class="name"><span>Ryan Feather</span></p>
  <p>MS Thesis: "Tracking and Activity Analysis in Wide Area Aerial Surveillance Video", August 2011.</p>
  <p class="name"><span>Matt Nedrich</span></p>
  <p>MS Thesis: "Detecting Behavioral Zones in Local and Global Camera Views", June 2011. (Now at Intel)</p>
  <p class="name"><span>Mark Keck</span></p>
  <p>Ph.D. Thesis: "Occlusion Recovery and Reasoning for 3D Surveillance", August 2009. (Now at BAE</p>
  <p class="name"><span>Karl Salva</span></p>
  <p>Undergraduate research assistant. Graduated March 2009.</p>
  <p class="name"><span>Ambrish Tyagi</span></p>
  <p>Ph.D. Thesis: "Layered Tracker Switching for Visual Surveillance", August 2008. (Now at STI - Omron Scientific Technologies)</p>
  <p class="name"><span>Vinay Sharma</span></p>
  <p>Ph.D. Thesis: "Simultaneous Object Detection and Segmentation using Top-down and Bottom-up Processing", November 2007. (Now at Texas Instruments)</p>
  <p class="name"><span>Hui Gao</span></p>
  <p>Ph.D. Thesis: "Extracting Key Features for Analysis and Recognition in Computer Vision", February 2006. (Now at Microsoft)</p>
  <p class="name"><span>Alex Morison</span></p>
  <p> MS Thesis: "An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring", August 2006. (Now at OSU/AFRL)</p>
  <p class="name"><span>Vignesh Kannappan</span></p>
  <p>MS Thesis: "Automatic Temporal Segmentation of Human Actions", June 2003. (Now at Microsoft)</p>
  <p class="name"><span>Stephanie Taylor</span></p>
  <p> MS Thesis: "Computer Analysis and Recognition of Walking Movements", June 2002.</p>
  <p class="name"><span>Robin Tan</span></p>
  <p> Undergraduate Honors Thesis: "Human-Content Video Coding", March 2002.</p>
</div>
<hr>
