---
title: "JWD - People"
---
<!--
  Created on 6/22/20 by Duytan Tran
  People page.
-->
<div class="current_students">
  <h1>Current Students</h1>
  <ul>
    <li>Tong Liang, Ph.D. student</li>
    <li>Logan Frank, M.S./Ph.D. student</li>
    <li>Ash Radhakrishnan, M.S./Ph.D. student</li>
    <li>Jamie Cunningham, B.S./M.S. student</li>
    <li>James Enouen, B.S. student</li>
    <li>Isaac Zachmann, B.S. student (ECE)</li>
  </ul>
</div>
<div class="alumni">
  <h2>Alumni</h2>
  <ul>
    <li>Joe Barker, Ph.D. student</li>
    <p></p>
    <li>Sam Lerner, B.S./M.S. student</li>
    <p></p>
    <li>Chris Menart, M.S. student</li>
    <p>M.S. Thesis: "Global-Context Refinement for Semantic Image Segmentation", 2018. (Now at AFRL)</p>
    <li>Debanjan Nandi, M.S. student</li>
    <p></p>
    <li>Mo Akbar, B.S./M.S. student</li>
    <p></p>
    <li>Josh Sandvick, B.S/M.S. student</li>
    <p>M.S. Thesis: "Machine Translation Through the Creation of a Common Embedding Space", 2018.</p>
    <li>Brett Whitford, B.S. student</li>
    <p>B.S. Honor's Thesis: "Weakly Supervised Learning for Semantic Segmentation", 2018.</p>
    <li>Chuhan Feng, B.S. student</li>
    <p></p>
    <li>Rohith Savaram</li>
    M.S. Project, May 2016. (now at Expedia)
    <p></p>
    <li>Dan Marchese</li>
    <p>Undergraduate Honors Thesis: "A Framework for Using Custom Features to Colorize Grayscale Images", May 2016. (Now at Amazon)</p>
    <li>Manjari Akella</li>
    <p>M.S. Project, May 2015. (Now at IBM)</p>
    <li>Jeremy Ledonne</li>
    <p>Undergraduate research assistant. Graduated 2015.</p>
    <li>Daniya Zamalieva</li>
    <p>Ph.D. Thesis: "Transformational Models for Background Subtraction with Moving Cameras", September 2014. (Now at Google)</p>
    <li>Ryan Niemocienski</li>
    <p>Undergraduate research assistant, 2013-2014.</p>
    <li>Kyle Salberg</li>
    <p>Undergraduate research assistant. Graduated June 2012.</p>
    <li>Michael Schoenberg</li>
    <p>Undergraduate research assistant. Graduated June 2012. (Now at Microsoft)</p>
    <li>Ronak Buch</li>
    <p>Undergraduate research assistant. Graduated June 2012. (Now at UIUC)</p>
    <li>Kevin Streib</li>
    <p>Ph.D. Thesis: "Improved Graph-based Clustering with Applications in Computer Vision and Behavior Analysis", March 2012. (and Post-Doc with Davis)</p>
    <li>Karthik Sankaranarayanan</li>
    <p>Ph.D. Thesis: "Multiple Instance Learning for Localization and Tracking of Persistent Targets", August 2011. (Now at IBM India)</p>
    <li>Ryan Feather</li>
    <p>MS Thesis: "Tracking and Activity Analysis in Wide Area Aerial Surveillance Video", August 2011.</p>
    <li>Matt Nedrich</li>
    <p>MS Thesis: "Detecting Behavioral Zones in Local and Global Camera Views", June 2011. (Now at Intel)</p>
    <li>Mark Keck</li>
    <p>Ph.D. Thesis: "Occlusion Recovery and Reasoning for 3D Surveillance", August 2009. (Now at BAE</p>
    <li>Karl Salva</li>
    <p>Undergraduate research assistant. Graduated March 2009.</p>
    <li>Ambrish Tyagi</li>
    <p>Ph.D. Thesis: "Layered Tracker Switching for Visual Surveillance", August 2008. (Now at STI - Omron Scientific Technologies)</p>
    <li>Vinay Sharma</li>
    <p>Ph.D. Thesis: "Simultaneous Object Detection and Segmentation using Top-down and Bottom-up Processing", November 2007. (Now at Texas Instruments)</p>
    <li>Hui Gao</li>
    <p>Ph.D. Thesis: "Extracting Key Features for Analysis and Recognition in Computer Vision", February 2006. (Now at Microsoft)</p>
    <li>Alex Morison</li>
    <p> MS Thesis: "An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring", August 2006. (Now at OSU/AFRL)</p>
    <li>Vignesh Kannappan</li>
    <p>MS Thesis: "Automatic Temporal Segmentation of Human Actions", June 2003. (Now at Microsoft)</p>
    <li>Stephanie Taylor</li>
    <p> MS Thesis: "Computer Analysis and Recognition of Walking Movements", June 2002.</p>
    <li>Robin Tan</li>
    <p> Undergraduate Honors Thesis: "Human-Content Video Coding", March 2002.</p>
  </ul>
</div>
