---
title: "JWD - Print"
---
<!--
  Created on 6/22/20 by Sean Michaels
  Print page.
  Edited on 6/24/2020 by Reema Gupta: included css for heading
  Edited on 6/25/2020 by Reema Gupta: added font_scheme class for font
-->
<div class="print">
  <div class="title">
  <h1>Print</h1>
  </div>
  <div class="font_scheme">
  <ul>
    <li><span>Security Dealer & Integrator</span>, "Eye on Troublesome Patterns," May 25, 2011 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/SDI-2011.pdf">[PDF]</a></li>
    <li><span>Popular Mechanics</span>, "PM's Guide to the Best in Home Surveillance Gear," April 6, 2011 <a href="https://www.popularmechanics.com/technology/gadgets/reviews/a6546/pms-guide-to-the-best-in-home-surveillance-gear/">[WWW]</a>, <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/PM-2011.pdf">[PDF]</a></li>
    <li><span>The Why Files: the Science Behind the News</span>, "Video Surveillance: Who is Watching You, and Why," March 11, 2010 <a href="https://whyfiles.org/323cyberspies/index.php?g=2.txt">[WWW]</a></li>
    <li><span>Electrical Contractor</span> magazine, "Surveillance with Smarts," February 2010, p. 50</li>
    <li><span>OSU Alumni Magazine</span>, Research Report Article, "Eye in the Sky", May/June, 2009, page 30 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/alumni09.pdf">[PDF]</a></li>
    <li><span>OSU News In Engineering</span> Research Update article, "Intelligent Surveillance Could Aid Law Enforcement", Vol. 81, No. 1, 2009 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/nie811.pdf">[PDF]</a></li>
    <li><span>SPIE Newsroom</span>: Electronic Imaging & Signal Processing, "A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery" (February 25, 2009) <a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/SPIE09.pdf">[PDF]</a> <a href="https://spie.org/news/1445-a-feature-selection-approach-to-fusing-electro-optical-and-ir-imagery?highlight=x2410&ArticleID=x33833&SSO=1">[WWW]</a></li>
    <li><span>Photonics Spectra</span>, Tech News, "Neighborhood Watch, Sans Neighbors" (February, 2009; pp. 18-20) <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/PhotonicsSpectra09.pdf">[PDF]</a></li>
    <li><span>MSNBC</span>, Technology & Science, "Computer has eye for Suspicious Behavior" (January 26, 2009) <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/MSNBC-09.pdf">[PDF (no pictures)]</a>, <a href="https://www.msn.com/">[WWW]</a></li>
    <li><span>Columbus Dispatch</span>, "Computers Might Spot People up to no Good" (January 24, 2009) <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/dispatch09.pdf">[PDF]</a></li>
    <li><span>onCampus</span>, Discovery Briefs, "'Smart' Surveillance System May Tag Suspicious or Lost People" (January 8, 2009) <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/onCampus-09.pdf">[PDF]</a></li>
    <li><span>UWeekly</span> "Big Brother No, Smart Camera Yes" (February 18, 2009) <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/UWeekly-09.pdf">[PDF]</a></li>
    <li><span>The Lantern</span>, "Under Surveillance" (January 27, 2009) <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/Lantern09b.pdf">[PDF]</a></li>
    <li><span>The Lantern</span>, "'Smart' Cameras are Watching You" (January 9, 2009) <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/Lantern09.pdf">[PDF]</a></li>
    <li><span>OSU News Release</span>, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08) <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/OSU-press-08-print.pdf">[PDF]</a></li>
    <li><span>The Economist</span>, Science & Technology section, "Surveillance Technology: If Looks Could Kill", October 23, 2008 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/TheEconomist08.pdf">[PDF]</a></li>
    <li><span>OSU CSE Newletter</span>, Focus on Research Article, "Jim Davis: Vision for the Future of Surveillance", Autumn 2007, pages 2-3 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/jwdavis-research-cse-07.pdf">[PDF]</a></li>
    <li><span>OSU Alumni Magazine</span>, Research Report Article, "Watch the Hands and Face", May/June, 2005, page 8 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/OSAM05.pdf">[PDF]</a></li>
    <li><span>OSU News In Engineering</span> Research Update article, "Advancing Technologies for Internet Video", Vol. 77, No. 1, Spring 2005 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/NIE_77.1_Spring_2005.pdf">[PDF]</a></li>
    <li><span>ACM TechNews</span> Feature, "Researchers Find Way to Make Internet Video More Appealing", Vol. 6, Issue 734, December 22, 2004 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/ACMNewsService.pdf">[PDF]</a></li>
    <li><span>OSU News Release</span>, "Researchers find way to make internet video more appealing" (released 12/21/04)</li>
    <li><span>Homeland Security & Defense</span>, "HSARPA seeking video software technology to interpret complex surveillance stream", Vol. 3, No. 16, April 21, 2004 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/HSARPA.pdf">[PDF]</a></li>
    <li><span>Columbus Business First</span>, Tech Now feature article, "Hot on Surveillance: Thermal technology grows in popularity, importance in post-911 world", Vol. 20, No. 7, Oct. 17, 2003 <a href="http://web.cse.ohio-state.edu/~davis.1719/Media/busFirst03.pdf">[PDF]</a></li>
  </ul>
</div>
</div>
<hr>