---
title: "JWD - Publications"
---
<!-- Created on 6/25/20 by Reema Gupta
Html for publication
-->
<div class="title">
  <h1>Publications</h1>
</div>
<div class="publication">
<div class="font_scheme">
<ul>
  <li>"Hierarchical Classification with Confidence using Generalized Logits"<br>
    J. Davis, T. Liang, J. Enouen, and R. Ilin<br>
    To appear,<i>International Conference on Pattern Recognition</i>, January 2021.<br>
  </li>
  <li>"A* Search: What’s in a Name?"<br>
    J. Davis and J. Hachtel<br>
    with P. Hart, N. Nilsson, and B. Raphael<br>
    <i>Communications of the ACM</i>, January 2020, Vol. 63, No. 1, pp. 36-37.<br>
    [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/Astar-CACM.pdf">PDF</a>]<br>
   </li>
  <li>"Hierarchical Semantic Labeling With Adaptive Confidence"<br>
     J. Davis, T. Liang, J. Enouen, and R. Ilin<br>
     <i>International Symposium on Visual Computing</i>, October 2019.<br>
     [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/isvc19a.pdf">PDF</a>]<br>
 </li>
  <li>"A Framework for Collecting and Classifying Objects in Satellite Imagery"<br>
       A. Radhakrishnan, J. Cunningham, J. Davis, and R. Ilin<br>
       <i>International Symposium on Visual Computing</i>, October 2019.<br>
       [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/isvc19b.pdf">PDF</a>]<br>
 </li>
  <li>"Tracking with Context in Wide Area Motion Imagery"<br>
       R. Ilin, J. Davis, S. Lerner, J. Cunningham, and A. Radhakrishnan<br>
       <i>MSS Passive Sensors Symposium</i>, February 2019.<br>
  </li>
  <li>“Scene-Based Priors for Bayesian Semantic Image Segmentation”<br>
       C. Menart, J. Davis, M. Akbar, and R. Ilin<br>
       <i>International Journal of Smart Security Technologies</i>, 2019, Vol. 6, pp. 1-14.<br>
  </li>
  <li>"The AFRL-Ohio State WMT18 Multimodal System: Combining Visual with Traditional"<br>
       J. Gwinnup, J. Sandvick, M. Hutt, G. Erdmann, J. Duselis, and J. Davis<br>
      <i>Conference on Machine Translation</i>, October 2018.<br>
  </li>
  <li>"The AFRL-OSU WMT17 Multimodal Translation System: An Image Processing Approach"<br>
       J. Duselis, M. Hutt, J. Gwinnup, J. Davis, and J. Sandvick<br>
       <i>Conference on Machine Translation</i>, September 2017.<br>
  </li>
  <li>"Audiomere: Polarity Maximizer" [2015-2017]<br>
       Commericialization of audio algorithm and software for multi-channel audio polarity optimization, 2015.<br>
       <a href="http://www.audiomere.com">www.Audiomere.com</a><br>
  </li>
   <li>"A Multi-Transformational Model for Background Subtraction with Moving Cameras"<br>
        D. Zamalieva, A. Yilmaz, and J. Davis<br>
        <i>European Conference on Computer Vision</i>, September 2014.<br>
   </li>
   <li>"Exploiting Temporal Geometry for Moving Camera"<br>
        D. Zamalieva, A. Yilmaz, and J. Davis<br>
        <i>International Conference on Pattern Recognition</i>, August 2014.<br>
   </li>
   <li>"Temporally-Dependent Dirichlet Process Mixtures for Egocentric Video Segmentation"<br>
         J. Barker and J. Davis<br>
         <i>IEEE Workshop on Egocentric Vision</i>, June 2014.<br>
</li>
<li>"Summarizing High-Level Scene Behavior"<br>
  K. Streib and J. Davis<br>
  <i>Machine Vision and Applications Journal</i>, 2013.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/MVA-13.pdf">PDF</a>]<br>
</li>
<li>"One-Class Multiple Instance Learning and Applications to Target Tracking"<br>
  K. Sankaranarayanan and J. Davis<br>
  <i>Asian Conference on Computer Vision</i>, November 2012.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/ACCV-12.pdf">PDF</a>]<br>
</li>
<li>"Segmentation and Scene Modeling for MIL-based Target Localization"<br>
  K. Sankaranarayanan and J. Davis<br>
  <i>International Conference on Pattern Recognition</i>, November 2012.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/ICPR-12.pdf">PDF</a>]<br>
</li>
<li>"Detecting Behavioral Zones in Local and Global Camera Views"<br>
  M. Nedrich and J. Davis<br>
  <i>Machine Vision and Applications</i>, Vol. 23, 2012, pp. 1-27.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/MVA2012.pdf">PDF</a>]<br>
</li>
<li>"Recovery and Reasoning about Occlusions in 3D using Few Cameras
  with Applications to 3D Tracking"<br> M. Keck and J. Davis<br>
  <i>International Journal of Computer Vision</i>, Vol. 95, Issue 3, 2011, pp. 240-264.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/IJCV2011.pdf">PDF</a>]<br>
</li>
<li>
  "Activity Analysis in Wide-Area Surveillance Video"<br>
  R. Feather and J. Davis<br>
  OSU Dept. Computer Science and Engineering Technical Report OSU-CISRC-11/11-TR34, 2011.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/OSU-CISRC-11-11-TR34.pdf">PDF</a>]<br>
</li>
<li>"Object Association Across PTZ Cameras using Logistic MIL"<br>
  K. Sankaranarayanan and J. Davis<br>
  <i>IEEE Conference on Computer Vision and Pattern Recognition</i>, June 2011.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr11b.pdf">PDF</a>]<br>
</li>
<li>"Using Ripley's K-function to Improve Graph-Based Clustering Techniques"<br>
  K. Streib and J. Davis<br>
  <i>IEEE Conference on Computer Vision and Pattern Recognition</i>, June 2011.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr11a.pdf">PDF</a>]<br>
</li>
<li>"Camera Control and Geo-Registration for Video Sensor Networks"<br>
  J. Davis<br>
  <i>Distributed Video Sensor Networks</i>, B. Bhanu (ed.), Springer, January 2011.<br>
</li>
<li>"Attention-based Target Localization using Multiple Instance Learning"<br>
  K. Sankaranarayanan and J. Davis<br>
  <i>International Symposium on Visual Computing</i>, November 2010.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/isvc10a.pdf">PDF</a>]<br>
  <b>[Best Paper Award]</b><br>
</li>
<li>"Learning Scene Entries and Exits using Coherent Motion Regions"<br>
  M. Nedrich and J. Davis<br>
  <i>International Symposium on Visual Computing</i>, November 2010.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/isvc10b.pdf">PDF</a>]<br>
</li>
<li>"Exploiting Multiple Cameras for Environmental Pathlets"<br>
  K. Streib and J. Davis<br>
  <i>International Symposium on Visual Computing</i>, November 2010.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/isvc10c.pdf">PDF</a>]<br>
</li>
<li>"PTZ Camera Modeling and Panoramic View Generation via Focal Plane Mapping"<br>
  K. Sankaranarayanan and J. Davis<br>
  <i>Asian Conference on Computer Vision</i>, November 2010.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/accv10.pdf">PDF</a>]<br>
</li>
<li>"Learning Directed Intention-driven Activities using Co-Clustering"<br>
  K. Sankaranarayanan and J. Davis<br>
  <i>IEEE Conference on Advanced Video and Signal Based Surveillance</i>, August 2010.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/avss10b.pdf">PDF</a>]<br>
</li>
<li>"Extracting Pathlets From Weak Tracking Data"<br>
  K. Streib and J. Davis<br>
  <i>IEEE Conference on Advanced Video and Signal Based Surveillance</i>, August 2010.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/avss10a.pdf">PDF</a>]<br>
</li>
<li>
  "Geo-registration and Interactive Control for Distributed Camera Networks"<br>
  M. Nedrich, K. Sankaranarayanan, and J. Davis<br>
  OSU Dept. Computer Science and Engineering Technical Report OSU-CISRC-6/10-TR13, 2010.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/OSU-CISRC-6-10-TR13.pdf">PDF</a>]<br>
</li>
<li>"How Panoramic Visualization can Support Human Supervision of Intelligent Surveillance"<br>
  A. Morison, D. Woods, and J. Davis<br>
  <i>Annual Meeting of the Human Factors and Ergonomics Society</i>, October 2009.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/HFES09.pdf">PDF</a>]<br>
</li>
<li>"Human Detection and Tracking"<br>
  J. Davis, V. Sharma, A. Tyagi, and M. Keck<br>
  <i>Encyclopedia of Biometrics</i>, S. Li (ed.), Springer, July 2009.<br>
</li><li>"A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery"<br>
  V. Sharma and J. Davis<br>
  <i>SPIE Newsroom: Electronic Imaging &amp; Signal Processing</i>, February 2009.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/SPIE09.pdf">PDF</a>]<br>
  [<a href="http://spie.org/x33833.xml?highlight=x2410&amp;ArticleID=x33833">HTML</a>]
</li>
<li>"Feature-Level Fusion for Object Segmentation Using Mutual Information"<br>
  V. Sharma and J. Davis<br>
  Book chapter in <i>Augmented Vision Perception in Infrared</i>, Springer, December 2008, pp. 295-319.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/avpi08.pdf">PDF</a>]<br>
</li>
  <li>"A Fast Linear Registration Framework for Multi-Camera GIS Coordination"<br>
  K. Sankaranarayanan and J. Davis<br>
  <i>IEEE International Conference on Advanced Video and Signal Based Surveillance</i>, September 2008.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/avss08.pdf">PDF</a>]<br>
</li>
<li>"3D Occlusion Recovery using Few Cameras"<br>
  M. Keck and J. Davis<br>
  <i>IEEE Conference on Computer Vision and Pattern Recognition</i>, June 2008.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr08-a.pdf">PDF</a>]<br>
</li>
<li>"A Recursive Filter For Linear Systems on Riemannian Manifolds"<br>
  A. Tyagi and J. Davis<br>
  <i>IEEE Conference on Computer Vision and Pattern Recognition</i>, June 2008.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr08-b.pdf">PDF</a>]<br>
</li>
<li>"An Efficient Active Camera Model for Video Surveillance"<br>
  K. Sankaranarayanan and J. Davis<br>
  <i>IEEE Workshop on Applications of Computer Vision</i>, January 2008.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/wacv08.pdf">PDF</a>]<br>
</li>
  <li>"A Context-Based Tracker Switching Framework"<br>
  A. Tyagi and J. Davis<br>
  <i>IEEE Workshop on Motion and Video Computing</i>, January 2008.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/wmvc08a.pdf">PDF</a>]<br>
</li>
<li>"Steepest Descent For Efficient Covariance Tracking"<br>
  A. Tyagi, J. Davis, and G. Potamianos<br>
  <i>IEEE Workshop on Motion and Video Computing</i>, January 2008.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/wmvc08b.pdf">PDF</a>]<br>
</li>
<li>"Integrating Appearance and Motion Cues for Simultaneous Detection and Segmentation of Pedestrians"<br>
  V. Sharma and J. Davis<br>
  <i>IEEE International Conference on Computer Vision</i>, October 2007.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/iccv07.pdf">PDF</a>]<br>
</li>
<li>"Kernel-Based 3D Tracking"<br>
  A. Tyagi, M. Keck, J. Davis, and G. Potamianos<br>
  <i>IEEE International Workshop on Visual Surveillance</i>, June 2007.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/vs07b.pdf">PDF</a>]<br>
</li>
<li>"Simultaneous Detection and Segmentation of Pedestrians using Top-down and Bottom-up Processing"<br>
  V. Sharma and J. Davis<br>
  <i>IEEE International Workshop on Visual Surveillance</i>, June 2007.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/vs07a.pdf">PDF</a>]<br>
</li>
<li>"Background-Subtraction using Contour-based Fusion of Thermal and Visible Imagery"<br>
  J. Davis and V. Sharma<br>
  <i>Computer Vision and Image Understanding</i>, Vol. 106, No. 2-3, 2007, pp. 162-182.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/cviu07.pdf">PDF</a>]<br>
  [<a href="http://dx.doi.org/10.1016/j.cviu.2006.06.010">HTML</a>]<br>
</li>
<li>"An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring"<br>
  J. Davis, A. Morison, and D. Woods<br>
  <i>Machine Vision and Applications</i>, Vol. 18, No. 1, 2007, pp. 41-64.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/mva07.pdf">PDF</a>]<br>
</li>
<li>"Building Adaptive Camera Models for Video Surveillance"<br>
  J. Davis, A. Morison, and D. Woods<br>
  <i>IEEE Workshop on Application of Computer Vision</i>, February 2007.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/wacv07a.pdf">PDF</a>]<br>
</li>
<li>"Extraction of Person Silhouettes from Surveillance Imagery using MRFs"<br>
  V. Sharma, J. Davis, and A. Tyagi<br>
  <i>IEEE Workshop on Application of Computer Vision</i>, February 2007.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/wacv07b.pdf">PDF</a>]<br>
</li>
<li>"Fusion of Multiple Camera Views for Kernel-Based 3D Tracking"<br>
  A. Tyagi, G. Potamianos, J. Davis, and S. Chu<br>
  <i>IEEE Workshop on Motion and Video Computing</i>, February 2007.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/wmvc07.pdf">PDF</a>]<br>
</li>
<li>"Coverage Optimization to Support Security Monitoring"<br>
  A. Murray, K. Kim, J. Davis, R. Machiraju, R. Parent<br>
  <i>Computers, Environment and Urban Systems</i>, Vol. 31, 2007, pp. 133-147.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/ceus07.pdf">PDF</a>]<br>
</li>
<li>"Background-Subtraction in Thermal Imagery Using Contour Saliency"<br>
  J. Davis and V. Sharma<br>
  <i>International Journal of Computer Vision</i>, Vol. 71, No. 2, 2007, pp. 161-181. (online version June 2006)<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/ijcv07.pdf">PDF</a>]<br>
</li>
<li>"Tracking Mean Shift Clustered Point Clouds for 3D Surveillance"<br>
  M. Keck, J. Davis, and A. Tyagi<br>
  <i>ACM Multimedia Workshop on Video Surveillance and Sensor Networks</i>, October 2006, pp. 187-194.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/vssn06b.pdf">PDF</a>]<br>
</li>
<li>"Multiview Fusion for Canonical View Generation based on Homography Constraints"<br>
  A. Tyagi, J. Davis, and M. Keck<br>
  <i>ACM Mulimedia Workshop on Video Surveillance and Sensor Networks</i>, October 2006, pp. 61-69.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/vssn06a.pdf">PDF</a>]<br>
</li>
<li>"Minimal-Latency Human Action Recognition using Reliable-Inference"<br>
  J. Davis and A. Tyagi<br>
  <i>Image and Vision Computing</i>, Vol. 24, 2006, pp. 455-472.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/ivc06.pdf">PDF</a>]<br>
</li>
<li>"Human Activity Recognition for Synthesis"<br>
  Y. Chen, R. Parent, R. Machiraju, and J. Davis<br>
  <i>IEEE Workshop on Learning, Representation, and Context for Human Sensing in Video</i>, New York, NY, June 22, 2006.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/lrchsv06.pdf">PDF</a>]<br>
</li>
<li>"Feature-level Fusion for Object Segmentation using Mutual Information"<br>
  V. Sharma and J. Davis<br>
  <i>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum</i>,
  New York, NY, June 22, 2006.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/otcbvs06.pdf">PDF</a>]<br>
</li>
<li>"Sampling Representative Examples for Dimensionality Reduction and Recognition - Bootstrap
  Bumping LDA"<br>
  H. Gao and J. Davis<br>
  <i>European Conference on Computer Vision (ECCV)</i>, Graz, Austria, May 7-13, 2006, Part III, LNCS 3953, pp. 275-287.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/eccv06.pdf">PDF</a>]<br>
</li>
<li>"Why Direct LDA Is Not Equivalent to LDA"<br>
  H. Gao and J. Davis<br>
  <i>Pattern Recognition</i>, Vol. 39, 2006, pp. 1002-1006.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/pr06.pdf">PDF</a>]<br>
</li>
<li>"Event Template Hierarchies as Means for Human-Automation Collaboration in Security Surveillance"<br>
  D. Woods, S. McNee, J. Davis, A. Morison, P. Maughan, and K. Christoffersen<br>
  <i>Human Factors and Ergonomics Society Annual Meeting</i>, Orlando, FL, September 26-28, 2005.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/eventTemplates05.pdf">PDF</a>]<br>
</li>
<li>"Modeling Behavior Trends and Detecting Abnormal Events using Seasonal
  Kalman Filters"<br>
  J. Davis and M. Keck<br>
  <i>Workshop on Human Activity Recognition and Modeling</i>, Oxford, UK,  September 9, 2005.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/harem05.pdf">PDF</a>]<br>
</li>
<li>"Fusion-based Background-Subtraction using Contour Saliency"<br>
  J. Davis and V. Sharma<br>
  <i>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum</i>,
  San Diego, CA, June 20, 2005.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/otcbvs05.pdf">PDF</a>]<br>
</li>
<li>"A Two-Stage Template Approach to Person Detection in Thermal Imagery"<br>
  J. Davis and M. Keck<br>
  <i>Workshop on Applications of Computer Vision</i>,  Breckenridge, Colorado, January 5-7, 2005.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/wacv05.pdf">PDF</a>]<br>
</li>
<li>"Differential Video Coding of Face and Gesture Events in Presentation Videos"<br>
  R. Tan and J. Davis<br>
  <i>Computer Vision and Image Understanding</i>, Vol. 96, No. 2, 2004, pp. 200-215.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/cviu04.pdf">PDF</a>]<br>
</li>
<li>"Robust Detection of People in Thermal Imagery"<br>
  J. Davis and V. Sharma<br>
  <i>International Conference on Pattern Recognition</i>,
  Cambridge, United Kingdom, August 23-26, 2004, pp. 713-716.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/icpr04.pdf">PDF</a>]<br>
<li>
  "Sequential Reliable-Inference for Rapid Detection of Human Actions"<br>
  J. Davis<br>
  <i>IEEE Workshop on Detection and Recognition of Events in Video</i>,
  Washington DC, July 2, 2004.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/event04.pdf">PDF</a>]<br>
<<li>
  "Robust Background-Subtraction for Person Detection in Thermal Imagery"<br>
  J. Davis and V. Sharma<br>
  <i>IEEE International Workshop on Object Tracking and Classification
    Beyond the Visible Spectrum</i>, Washington DC, July 2, 2004.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/otcbvs04.pdf">PDF</a>]<br>
</li>
<li>
  "Gender Recognition from Walking Movements using Adaptive Three-Mode PCA"<br>
  J. Davis and H. Gao<br>
  <i>IEEE Workshop on Articulated and Nonrigid Motion</i>, Washington DC, June 27, 2004.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/anm04.pdf">PDF</a>]<br>
</li>
<li>
  "An Expressive Three-Mode Principal Components Model for Gender Recognition"<br>
  J. Davis and H. Gao<br>
  <i>Journal of Vision</i>, Vol. 4, No. 5, 2004, pp. 362-377.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/jov04.pdf">PDF</a>,
  <a href="http://www.journalofvision.org/4/5/2/">HTML</a>]
</li>
<li>
  "An Expressive Three-Mode Principal Components Model of Human
  Action Style"<br>
  J. Davis and H. Gao<br>
  <i>Image and Vision Computing</i>, Vol. 21, No. 11, 2003, pp. 1001-1016.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/ivc03.pdf">PDF</a>]<br>
</li>
<li>
  "Recognizing Human Action Efforts: An Adaptive Three-Mode PCA Framework"<br>
  J. Davis and H. Gao<br>
  <i>International Conference on Computer Vision</i>, Nice, France,
  October 13-16, 2003, pp. 1463-1469.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/iccv03.pdf">PDF</a>]<br>
</li>
<li>
  "A Reliable-Inference Framework for Recognition of Human Actions"<br>
  J. Davis and A. Tyagi<br>
  <i>IEEE International Conference on Advanced Video and Signal Based Surveillance</i>,
  Miami, Florida, July 21-22, 2003, pp. 169-176.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/avss03.pdf">PDF</a>]<br>
</li>
<li>
  "A Three-Mode Expressive Feature Model of Action Effort"<br>
  J. Davis, H. Gao, and V. Kannappan<br>
  <i>IEEE Workshop on Motion and Video Computing</i>, Orlando, Florida, December 5-6, 2002, pp. 139-144.<br>
  <b>[Best Paper Award]</b><br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/motion02.pdf">PDF</a>]<br>
</li>
<li>
  "Motion Segmentation and Pose Recognition with Motion History Gradients"<br>
  G. Bradski and J. Davis<br>
  <i>International Journal of Machine Vision and Applications</i>, Vol. 13, No. 3, 2002, pp. 174-184.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/mva02.pdf">PDF</a>]<br>
</li>
<li>
  "Analysis and Recognition of Walking Movements"<br>
  J. Davis and S. Taylor<br>
  <i>International Conference on Pattern Recognition</i>, Quebec City, Canada, August 11-15, 2002, pp. 315-318.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/icpr02.pdf">PDF</a>]<br>
</li>
<li>
  "Expressive Features for Movement Exaggeration"<br>
  J. Davis and V. Kannappan<br>
  <i>SIGGRAPH Conference Abstracts and Applications (Technical Sketches)</i>, San Antonio, Texas, July 24, 2002, pp. 182.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/sketch02.pdf">PDF</a>]<br>
</li>
<li>
  "The Representation and Recognition of Action Using Temporal Templates"<br>
  A. Bobick and J. Davis<br>
  <i>IEEE Transactions on Pattern Analysis and Machine Intelligence</i>, Vol. 23, No. 3, 2001, pp. 257-267.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/pami01.pdf">PDF</a>]<br>
</li>
<li>
  "A Perceptual User Interface for Recognizing Head Gesture Acknowledgements"<br>
  J. Davis and S. Vaks<br>
  <i>ACM Workshop on Perceptual User Interfaces</i>, Orlando, Florida, November 15-16, 2001.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/PUI2001-Davis.pdf">PDF</a>]<br>
</li>
<li>
  "Representing and Recognizing Human Motion: From Motion Templates to Movement Categories"<br>
  J. Davis<br>
  <i>Digital Human Modeling Workshop</i>, International Conference on Intelligent Robots and Systems, Maui, Hawaii, October 29, 2001.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/iros.pdf">PDF</a>]<br>
</li>
<li>
  "Hierarchical Motion History Images for Recognizing Human Motion"<br>
  J. Davis<br>
  <i>IEEE Workshop on Detection and Recognition of Events in Video</i>, Vancouver, Canada, July 8, 2001, pp. 39-46.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/event01.pdf">PDF</a>]<br>
</li>
<li>
  "Visual Categorization of Children and Adult Walking Styles"<br>
  J. Davis<br>
  <i>International Conference on Audio- and Video-based Biometric Person Authentication</i>, Halmstad, Sweden, June 6-8, 2001, pp. 295-300.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/avbpa01.pdf">PDF</a>]<br>
</li>
<li>
  "Physically Interactive Story Environments"<br>
  C. Pinhanez, J. Davis, S. Intille, M. Johnson, A. Wilson, A. Bobick, and B. Blumberg<br>
  <i>IBM Systems Journal</i>, Vol. 39, No. 3/4, 2000, pp. 438-455.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/ibmpaper.pdf">PDF</a>]<br>
</li>
<li>
  "Motion Segmentation and Pose Recognition with Motion History Gradients"<br>
  G. Bradski and J. Davis<br>
  <i>IEEE Workshop on Applications of Computer Vision</i>, December 2000, pp. 174-184.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/wacv00.pdf">PDF</a>]<br>
</li>
<li>
  "Categorical Representation and Recognition of Oscillatory Motion Patterns"<br>
  J. Davis, A. Bobick, W. Richards<br>
  <i>IEEE Conference on Computer Vision and Pattern Recognition</i>, June 2000, pp. 628-635.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/cvpr2000.pdf">PDF</a>]<br>
</li>
<li>
  "Relating Categories of Intentional Animal Motions"<br>
  J. Davis and W. Richards<br>
  OSU Dept. Computer and Information Science Technical Report OSU-CISRC-11/00-TR25, November 2000.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/OSU-TR25.pdf">PDF</a>]<br>
</li>
<li>
  "The Kidsroom: A Perceptually-Based Interactive and Immersive Story Environment"<br>
  A. Bobick, S. Intille, J. Davis, F. Baird, C. Pinhanez, L. Campbell, Y. Ivanov, A. Schutte, and A. Wilson<br>
  <i>Presence: Teleoperators and Virtual Environments</i>, Vol. 8, No. 4, 1999, pp. 367-391.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/kidsroom.pdf">PDF</a>]<br>
</li>
<li>
  "Toward 3-D Gesture Recognition"<br>
  J. Davis and M. Shah<br>
  <i>International Journal of Pattern Recognition and Artificial Intelligence</i>, Volume 13 Number 3, May 1999, pp. 381-393.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/ijprai.pdf">PDF</a>]<br>
</li>
<li>
  "Real-time Motion Template Gradients using Intel CVLib"<br>
  J. Davis and G. Bradski<br>
  <i>IEEE ICCV Workshop on Frame-rate Vision</i>, September 1999.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/motiontemplategradient.pdf">PDF</a>]<br>
</li>
<li>
  "Recognizing Movement using Motion Histograms"<br>
  J. Davis<br>
  MIT Technical Report #487, March 1999.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/TR-487.pdf">PDF</a>]<br>
</li>
<li>
  "A Robust Human-Silhouette Extraction Technique for Interactive Virtual Environments"<br>
  J. Davis and A. Bobick<br>
  In <i>Lecture Notes in Artificial Intelligence</i> (Ed. by N. Magnenat-Thalmann &amp; D. Thalmann), 1537, Heidelberg: Springer-Verlag, 1998, pp. 12-25.<br>
  <i>(<i>IFIP Workshop on Modeling and Motion Capture Techniques for Virtual Environments</i>, 1998.)</i><br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/captech98.pdf">PDF</a>]<br>
</li>
<li>
  "Virtual PAT: A Virtual Personal Aerobics Trainer"<br>
  J. Davis and A. Bobick<br>
  <i>Workshop on Perceptual User Interfaces</i>, November 1998, pp. 13-18.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/pui98.pdf">PDF</a>]<br>
</li>
<li>
  "Perceptive Spaces for Performance and Entertainment"<br>
  C. Wren, F. Sparacino, A. Azarbayejani, T. Darrell, J. Davis, T. Starner, A. Kotani, C. Chao, M. Hlavac, K. Russell, A. Bobick, and A. Pentland<br>
  <i>ATR Workshop on Virtual Communication Environments</i>, April 1998.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/TR-372B.pdf">PDF</a>]<br>
</li>
<li>
  "Design Decisions for Interactive Environments: Evaluating the KidsRoom Application Using a Deep Perceptual Interface"<br>
  A. Bobick, S. Intille, J. Davis, F. Baird, C. Pinhanez, L. Campbell, Y. Ivanov, A. Schutte, and A. Wilson<br>
  <i>AAAI Spring Symposium on Intelligent Environments</i>, March 1998, pp. 7-16.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/ie.pdf">PDF</a>]<br>
</li>
<li>
  "The KidsRoom: An Example Application Using a Deep Perceptual Interface"<br>
  A. Bobick, J. Davis, S. Intille<br>
  <i>Workshop on Perceptual User Interfaces</i>, October 1997, pp. 1-4.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/pui97.pdf">PDF</a>]<br>
</li>
<li>
  "The Representation and Recognition of Action Using Temporal Templates"<br>
  J. Davis and A. Bobick<br>
  <i>IEEE Conference on Computer Vision and Pattern Recognition</i>, June 1997, pp. 928-934.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/TR-402.pdf">PDF</a>]<br>
</li>
<li>
  "Real-Time Closed-World Tracking"<br>
  S. Intille, J. Davis, and A. Bobick<br>
  <i>IEEE Conference on Computer Vision and Pattern Recognition</i>, June 1997, pp. 697-703.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/TR-403.pdf">PDF</a>]<br>
</li>
<li>
  "Action Recognition Using Temporal Templates"<br>
  A. Bobick and J. Davis<br>
  In M. Shah and R. Jain (eds.) <i>Motion-Based Recognition</i>, 1997, pp. 125-146.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/motrec.pdf">PDF</a>]<br>
</li>
<li>
  "Real-time Recognition of Activity Using Temporal Templates"<br>
  A. Bobick and J. Davis<br>
  <i>IEEE Workshop on Applications of Computer Vision</i>, December 1996, pp. 39-42.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/TR-386.pdf">PDF</a>]<br>
</li>
<li>
  "An Appearance-based Representation of Action"<br>
  A. Bobick and J. Davis<br>
  <i>IEEE International Conference on Pattern Recognition</i>, August 1996, pp. 307-312.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/TR-369.pdf">PDF</a>]<br>
</li>
<li>
  "Visual Gesture Recognition"<br>
  J. Davis and M. Shah<br>
  <i>Vision, Image and Signal Processing</i>, Vol. 141, No. 2, 1994, pp. 101-106.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/visp.pdf">PDF</a>]<br>
</li>
<li>
  "Recognizing Hand Gestures"<br>
  J. Davis and M. Shah<br>
  <i>European Conference on Computer Vision</i>, 1994, pp. 331-340.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/eccv.pdf">PDF</a>]<br>
</li>
  <li>
  "Determining 3-D Hand Motion"<br>
  J. Davis and M. Shah<br>
  <i>IEEE Asilomar Conference on Signals, Systems, and Computers</i>, October 1994, pp. 1262-1266.<br>
  [<a href="http://web.cse.ohio-state.edu/~davis.1719/Publications/asilomar.pdf">PDF</a>]<br>
</li>

</ul>
</div>
</div>

<hr>