---
title: "JWD - Teaching"
---

<!-- Created on 6/21/20 by Caroline Wheeler
  Edited on 6/24/2020 by Reema Gupta: included css for heading-->

<div class="title">
  <h1>Teaching</h1>

</div>
<div>

  <p style="font-size: 25px">2020 - 2021:</p>
  <ul>
    <li>CSE 5524 Computer Vision (Autumn)</li>
  </ul>
  <p style="font-size: 25px">2019 - 2020:</p>
  <ul>
    <li>CSE 5524 Computer Vision (Autumn)</li>
    <li>CSE 5052 Artificial Intelligence for Non-Majors (Spring)</li>
  </ul>
  <p style="font-size: 25px">2018 - 2019:</p>
  <ul>
    <li>CSE 5524 Computer Vision (Autumn)</li>
    <li>CSE 5052 Artificial Intelligence for Non-Majors (Spring)</li>
  </ul>
  <p style="font-size: 25px">2017 - 2018:</p>
  <ul>
    <li>CSE 5524 Computer Vision (Autumn)</li>
    <li>CSE 5052 Artificial Intelligence for Non-Majors (Spring)</li>
  </ul>
  <p style="font-size: 25px">2016 - 2017:</p>
  <ul>
    <li>CSE 5524 Computer Vision (Autumn)</li>
    <li>CSE 5052 Artificial Intelligence for Non-Majors (Spring)</li>
  </ul>
  <p style="font-size: 25px">2015 - 2016:</p>
  <p>On Sabbatical</p>
  <p style="font-size: 25px">2014 - 2015:</p>
  <ul>
    <li>CSE 5524 Computer Vision For HCI (Autumn)</li>
    <li>CSE 5052 Intro to Artificial Intelligence for Non-Majors (Spring)</li>
  </ul>
  <p style="font-size: 25px">2013 - 2014:</p>
  <ul>
    <li>CSE 5524 Computer Vision For HCI (Autumn)</li>
    <li>CSE 5052 Intro to Artificial Intelligence for Non-Majors (Spring)</li>
  </ul>
  <p style="font-size: 25px">2012 - 2013:</p>
  <ul>
    <li>CSE 5524 Computer Vision for Human-Computer Interaction (Autumn)
    </li>
    <li>CSE 5052 Intro to Artificial Intelligence for Non-Majors (Spring)</li>
  </ul>
  <p style="font-size: 25px">2011 - 2012:</p>
  <ul>
    <li>CSE 5524 Computer Vision for Human-Computer Interaction (Autumn)</li>
    <li>CSE 788 Computer Vision Seminar (Winter)</li>
  </ul>
  <p style="font-size: 25px">2010 - 2011:</p>
  <ul>
    <li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)
    </li>
    <li>CSE 630 Artificial Intelligence (Winter)</li>
  </ul>
  <p style="font-size: 25px">2009 - 2010:</p>
  <ul>
    <li>CSE 5524 Computer Vision for Human-Computer Interaction (Autumn)</li>
    <li>CSE 788 Computer Vision Seminar (Winter)</li>
  </ul>
  <p style="font-size: 25px">2008 - 2009:</p>
  <ul>
    <li>CSE 5524 Computer Vision (Autumn)</li>
  </ul>
  <p style="font-size: 25px">2007 - 2008:</p>
  <p>On Sabbatical</p>
  <p style="font-size: 25px">2006 - 2007:</p>
  <ul>
    <li>CIS 634 Computer Vision for Human-Computer Interaction (Autumn)</li>
    <li>CIS 630 Artificial Intelligence (Winter)</li>
  </ul>
  <p style="font-size: 25px">2005 - 2006:</p>
  <ul>
    <li>CSE 634 Computer Vision for Human-Computer Interaction (Autumn)</li>
    <li>CSE 630 Artificial Intelligence (Winter)</li>
    <li>CSE 788 Seminar on Advanced Video Surveillance (Winter)</li>
  </ul>
  <p style="font-size: 25px">2004 - 2005:</p>
  <ul>
    <li>CSE 694I Introduction to Computer Vision (Autumn)</li>
    <li>CSE 630 Artificial Intelligence (Winter)</li>
  </ul>
  <p style="font-size: 25px">2003 - 2004:</p>
  <ul>
    <li>CIS 694I Computer Vision for Human-Computer Interaction (Autumn)</li>
    <li>CIS 630 Artificial Intelligence (Winter)</li>
    <li>CIS 788 Seminar on Advanced Video Surveillance (Winter)</li>
  </ul>
  <p style="font-size: 25px">2002 - 2003:</p>
  <ul>
    <li>CIS 630 Artificial Intelligence (Autumn)</li>
    <li>CIS 694I Computer Vision and Pattern Recognition (Winter)</li>
    <li>CIS 630 Artificial Intelligence (Spring)</li>
  </ul>
  <p style="font-size: 25px">2001 - 2002:</p>
  <ul>
    <li>CIS 788.04Z Computer Vision for Human-Computer Interaction (Autumn)</li>
    <li>CIS 630 Artificial Intelligence (Spring)</li>
  </ul>
  <p style="font-size: 25px">2000 - 2001:</p>
  <ul>
    <li>CIS 788.04Y Motion Understanding (Autumn)</li>
    <li>CIS 630 Artificial Intelligence (Spring)</li>
    <li>CIS 731 Knowledge Systems (Spring)</li>
  </ul>
</div>
