---
title: "JWD - TV/Video"
---
<!--
  Created on 6/22/20 by Sean Michaels
  TV/Video page.
  Edited on 6/24/2020 by Reema Gupta: included css for heading
  Edited on 6/25/2020 by Reema Gupta: added font_scheme class for font
-->
<div class="tv_video">
  <div class="title">
    <h1>TV/Video</h1>
  </div>
  <div class="font_scheme">
    <ul>
      <li><span>NPR</span> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 02/12/19)</li>
        <li><span>NPR</span> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)</li>
        <li><span>NPR</span> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)</li>
        <li><span>iMix, Big10 TV Network</span>, "Smart Surveillance" (initially aired 7/28/09)</li>
        <li><span>10TV news (CBS)</span>, "Smart Technology Being Used at Ohio State" (Aired 07/17/09)</li>
        <li><span>OSU Video</span>, "Better Eyes" (released January 9, 2009)</li>
        <li><span>OSU Video</span>, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)</li>
        <li><span>Frontline</span>: "Spying on the Home Front" (Aired 05/15/07)</li>
        <li><span>Fox-28/ABC-6 News</span>, "They're Watching You" (Aired 05/10/04)</li>
        <li><span>Fox-28/ABC-6 News</span>, Interview on thermal technology (Aired 05/08/03, 05/09/03)</li>
        <li><span>NBC-4 News</span>, (aired 05/09/03)</li>
        <li><span>CBS-10 News</span>, (aired 05/04/03)</li>
        <li><span>OSU Video</span>,"Researcher developing video technology for surveillance: Cameras being trained to `see' people
            and recognize their activities" (released 04/30/03)
        </li>
    </ul>
  </div>
</div>
<hr>