
/*Illustrates active page to navbar*/
.navbar a[href="noteworthy.html"] {
    font-weight: bold;
}

/* For the map on directions page*/
.map{
    width: 45%;
    max-height: 450px;
    min-width: 300px;
    padding: 20px;
    float: right;
    object-fit:cover;
}

.instruct{
    width: 55%;
}
