/*
  Created on 6/23/20 by Reema Gupta
  css styling for fonts and scheme for all pages.
*/

/* Created on 6/22/20 by Duytan Tran */
/* Edited on 6/24/20 by Reema Gupta: css was shifted from noteworthy_style.css file to font_scheme.css
                                 so that same heading design could be applied on all pages and some font size change was made*/
/* Edited on 6/24/20 by Reema Gupta: added css for hovering on links*/
/* Title Header styling for all pages*/
.title > h1,h2{
    font-weight: normal;
    font-size: 25px;
    font-family: Arsenal;
    color: white;
    background-color: grey;
    padding: 5px 30px;
    margin: 10px 0px 0px 0px;
}
/* Created on 6/24/20 by Reema Gupta */
/*font family and size styling for all pages*/
body .font_scheme{
    font-family: Arial;
    font-size: 18px;
}
/* Created on 6/25/20 by Reema Gupta */
/*changes the color of the links on hover*/
a:hover{
    color: darkcyan;
}