/*
 Created on 6/23/20 by Sean Michaels
 CSS for the footer.
 */

hr {
    border-color: #666666;
}
footer{
    margin-top: auto;
}
/*
Created on 6/24/20 by Reema Gupta
For size of the footer */
.footer-size span {
    font-size: 15px;
}
