/*
 Created on 6/22/2020 by Sean Michaels
 CSS for the list suchs as tv/video, radio, print.

 Edited on 6/24/2020 by Reema Gupta: removed heading css so as to use a single css on all pages
*/

/*Illustrates active page to navbar*/
.dropbtn {
    font-weight: bold;
}

/*Pushing from the left border a bit. */
ul{
    padding-left: 17px;
}
/* Giving my list elements a square bullet and some spacing */
li {
    list-style-type: square;
    padding: 6px;
}
/* taking out underline and chaning the color from, blue to grey */
a:link{
    color: #666666;
    text-decoration: none;
}
/*When hovering over the link it will change to a scarlet */
a:hover{
    color: #990000;
    font-weight: bold;
}
/*Bolding the titles of places */
span{
    color: dimgray;
    font-weight: bold;
}