/*
 Created on 6/22/2020 by Sean Michaels
 CSS for the list suchs as tv/video, radio, print.

 Edited on 6/24/2020 by Reema Gupta: removed heading css so as to use a single css on all pages
*/

/*Illustrates active page to navbar*/
.dropbtn {
    font-weight: bold;
}

/* Square bullets and 6px padding for each element in the list. */
ul{
    padding-left: 17px;
}
li {
    list-style-type: square;
    padding: 6px;
}
a:link{
    color: #666666;
    text-decoration: none;
}
a:visted{
    color: darkgrey;
    text-decoration: none;
}
a:hover{
    color: #990000;
    text-decoration: bold;
}
