/*
 Created on 6/22/2020 by Sean Michaels
 CSS for the list suchs as tv/video, radio, print.
*/

/*Illustrates active page to navbar*/
.navbar a[href="tv_video.html"] {
    font-weight: bold;
}
h3 {
    text-align: left;

}
/* Square bullets and 6px padding for each element in the list. */
li {
    list-style-type: square;
    padding: 6px;
}
a:link{
    color: #666666;
    text-decoration: none;
}
a:visted{
    color: darkgrey;
    text-decoration: none;
}
a:hover{
    color: #990000;
    text-decoration: bold;
}
