/*
  Created on 6/22/2020 by Duytan Tran
  Edited 6/23/2020 by Duytan Tran: added font styling, red links
  Edited on 6/24/2020 by Reema Gupta: removed heading css so as to use a single css on all pages
  Noteworthy css styling.
*/

/*Illustrates active page to navbar*/
.navbar a[href="noteworthy.html"] {
    font-weight: bold;
}

/*Entire achievement styling*/
ul {
    margin: 10px;
}

/*Individual achievement styling*/
li {
    padding: 6px 6px 6px 10px;
    list-style-type: square;
    margin-left: 20px;
}

/*Important noteworthy keyword styling*/
span {
    color: dimgray;
    font-weight: bold;
}

/*Red links*/
a {
    color: darkred;
}