/*
  Created on 6/22/20 by Duytan Tran
  Noteworthy css styling.
*/
h1 {
    font-weight: normal;
    font-size: x-large;
    color: black;
    padding: 5px 5px;
    margin: 10px 0px 0px 0px;
}

ul {
    margin-top: 0px;
}

li {
    padding: 6px;
}

.noteworthy_data {
}