/*
  Created on 6/22/2020 by Duytan Tran
  Edited 6/23/2020 by Duytan Tran: added font styling
  Noteworthy css styling.
*/

/*Illustrates active page to navbar*/
.navbar a[href="noteworthy.html"] {
    font-weight: bold;
}

/*Font styling*/
body {
    font-family: Arial;
    font-size: 20px;
}

/*Achievement header styling*/
h1 {
    font-weight: normal;
    font-size: x-large;
    color: white;
    background-color: grey;
    padding: 5px 30px;
    margin: 10px 0px 0px 0px;
}

/*Entire achievement styling*/
ul {
    margin: 10px;
}

/*Individual achievement styling*/
li {
    padding: 6px 6px 6px 10px;
    list-style-type: square;
    margin-left: 20px;
}

/*Important noteworthy keyword styling*/
span {
    color: dimgray;
    font-weight: bold;
}