/*
  Created on 6/22/20 by Duytan Tran
  Edited 6/23/2020 by Duytan Tran: Reworked Alumni from ul to p, added font styling
   Edited on 6/24/2020 by Reema Gupta: removed heading css so as to use a single css on all pages
  People css styling.
*/

/*Illustrates active page to navbar*/
.navbar a[href="people.html"] {
    font-weight: bold;
}

/*Font styling*/
body {
    font-family: Arial;
    font-size: 20px;
}



/*Entire student list styling*/
ul {
    margin: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/*Individual student styling*/
li {
    list-style-type: square;
    padding: 6px 6px 6px 10px;
    margin-left: 30px;
}

/*Individual name styling*/
span {
    text-decoration: underline;
}

/*Info on individual alumni styling*/
p {
    margin-left: 30px;
    padding: 0px 6px 0px 10px;
    color: dimgrey;
}

/* List-like alumni name styling*/
.name {
    display: list-item;
    list-style-type: square;
    color: black;
}