/*
 Created on 6/21/20 by Caroline Wheeler
 CSS for the homepage.
*/

/* margins  of 70 pixels on right and left, and 50 pixels on the top + font info */
body {
  max-width: 1080px;
  margin: 50px 100px 100px;
  float: none !important;
  font-family: Arial;
  font-size: 20px;
}

/* No bullets on lists */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info {
  float: left;
  padding:20px;
  width: 400px;
  height: 350px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* crop the image to a square */
.pic{
  float: left;
  padding:20px;
  width:350px;
  height:350px;
  object-fit:cover;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}